@tailwind base;
@tailwind components;
@tailwind utilities;


button.slick-next {
    z-index: 8;
    display: none;
}

button.slick-prev {
    z-index: 8;
    display: none;
}
button.slick-prev:before {
    position:absolute;
    left: 10px;
    z-index: 8;
    color: rgb(212, 204, 204);
    content: '\276E';
    border-radius: 10px;
    width: 80px;
    color: black;
    height: 80px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 208, 208);
    

}
.slick-slide {
    width: 200px;
   
}

button.slick-next:before {
    z-index: 3;
    position: absolute;
    border-radius: 10px;
    color: rgb(212, 204, 204);
    content: '\276F';
    color: black;
    width: 80px;
    height: 80px;
    right: 15px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 208, 208);
}
@media (min-width: 768px) {
    button.slick-prev:before {
        display: flex;
    }
    button.slick-next:before{
        display: flex;
        }
}

.slick-slide {
    box-sizing: border-box;
    padding: 0 5px;
    /* Khoảng cách giữa các slide */
}

